In [7]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf

In [2]:
data = pd.read_csv("CustomerData.csv")

In [4]:
data.head()

,CustomerID,City,NoOfChildren,MinAgeOfChild,MaxAgeOfChild,Tenure,FrquncyOfPurchase,NoOfUnitsPurchased,FrequencyOFPlay,NoOfGamesPlayed,NoOfGamesBought,FavoriteChannelOfTransaction,FavoriteGame,TotalRevenueGenerated
0,1001,1,2,3,8,210,11,11,2344,108,10,Uniform,Uniform,107.51
1,1002,1,2,3,6,442,20,20,245,22,7,Favorite,Uniform,382.40
2,1003,1,4,3,5,424,18,18,1059,130,18,Favorite,Uniform,135.01
3,1004,1,1,6,6,261,11,9,365,34,11,Favorite,Uniform,125.00
4,1005,1,3,6,9,422,44,31,1066,102,44,Uniform,Uniform,335.05

In [5]:
formula = " ~ ".join((data.columns.values[-1], data.columns.values[7]))
print (formula)

TotalRevenueGenerated ~ NoOfUnitsPurchased

In [8]:
mod = smf.ols(formula=formula, data=data) # Describe model

res = mod.fit()                           # Fit model

print(res.summary())                      # Summarize model

                              OLS Regression Results
=================================================================================
Dep. Variable:     TotalRevenueGenerated   R-squared:                       0.563
Model:                               OLS   Adj. R-squared:                  0.563
Method:                    Least Squares   F-statistic:                     4133.
Date:                   Thu, 25 Oct 2018   Prob (F-statistic):               0.00
Time:                           10:47:40   Log-Likelihood:                -17358.
No. Observations:                   3209   AIC:                         3.472e+04
Df Residuals:                       3207   BIC:                         3.473e+04
Df Model:                              1
Covariance Type:               nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept             42.9829      2.173     19.780      0.000      38.722      47.244
NoOfUnitsPurchased     8.5463      0.133     64.287      0.000       8.286       8.807
==============================================================================
Omnibus:                     1448.965   Durbin-Watson:                   2.039
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            10677.032
Skew:                           1.996   Prob(JB):                         0.00
Kurtosis:                      10.994   Cond. No.                         37.3
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.